name: CI
on:
  push:
    branches: [main]

  jobs:
    build:
      runs-on: ubuntu-latest

      steps:
        # Checks-out your repository under $GITHUB_WORKSPACE
        - uses: actions/checkout@v2

        # Setup Python 3.8 env
        - name: Set up Python 3.8.6
          uses: actions/setup-python@v1
          with:
            python-version: "3.8.6"

        # Install dependencies
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt

        # Run our unit tests
        - name: Run unit tests
          run: |
            python manage.py test